<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @event.details %>
</p>

<p>
  <strong>Start:</strong>
  <%= format(@event.event_start) %>
</p>

<ul>
  <% eveperiod(@event.event_start, @event.event_end).each do |eve| %>
    <li><%= eve %><input type="checkbox" name="status"></li>
  <% end %>
</ul>
<p>
  <strong>End:</strong>
  <%= format(@event.event_end) %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.username %>
</p>

<p>
  <% if @event.category == true %>
  <strong>Category: Paid</strong>
  <% else %>
  <strong>Category: Free</strong>
  <% end %>
</p>
<% if @event.user == current_user %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
